################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/day21/E-commerce system/E-commerce system.csproj
